@model SistemaOrdemPedidos.Models.ItemPedido

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>
    <h4>Produto do Pedido</h4>

<h3>Você tem certeza que deseja deletar isso?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Número do Pedido")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.PedidoId)
        </dd>

        <dt>
            @Html.DisplayName("Produto")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacoes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
