@model SistemaOrdemPedidos.Models.ItemPedido

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Produto do Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Número do Pedido")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.PedidoId)
        </dd>

        <dt>
            @Html.DisplayName("Produto")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacoes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ItemPedidoId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
